/**
* Resources Section
* @class Resources
* @module base.css
*/
.control
	text-align center
.hide
	display none
/* Cabecera del head */
.frm-head
	background #fafafa
	background -moz-linear-gradient(top, #fafafa 0%, #efefef 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef))
	background -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%)
	background -o-linear-gradient(top, #fafafa 0%, #efefef 100%)
	background -ms-linear-gradient(top, #fafafa 0%, #efefef 100%)
	background linear-gradient(top, #fafafa 0%, #efefef 100%)
	border-bottom 1px solid #D5D5D5
	padding 12px 9px
	position relative
	filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 )")
	h2
		font-size 16px
		font-weight 400
		padding-left 22px
		position relative
		span
			background url(routImg+"icon-set.png")
			height 13px
			left 0
			position absolute
			top 1px
			width 14px
/* Alert */
.alert
	background #F2DEDE
	border 1px solid #EED3D7
	border-radius 4px
	color #B94A48
	font-size 13px
	line-height 15px
	margin-bottom 20px
	padding 8px 10px
	&.success
		background #DFF0D8
		border-color #D6E9C6
		color #468847
/* Utilitarios */
.help-iblock
	float left
	padding 3px 0 0 12px
	text-align justify
/* Icons */
.ic-close
	background #000 url(routImg+"icon-set.png") aicClose
	border-radius 22px
	height 22px
	position absolute
	right -11px
	top -11px
	width 22px
	&:hover
		opacity 0.8
/* Tamaños */
.mb12
	margin-bottom 12px
.w320
	width 320px !important
.w565
	width 565px